<div class="container" style="margin-top:20px;">
<div class="row">

	<div class="col-md-2" style="background-color: #f0f8ff;">
		<%= render 'customers/items/genres', genres: @genres %>		<!-- ジャンル表示をパーシャル化　-->
	</div>


	<main class="col-md-10">
		<!-- このmain-visualにassets/imagesの中のimages1.jpgを入れたい -->
		<div class="main-visual">
			<div class="main-visual-text" >
				<p>ようこそ、NaganoCakeへ！</p>
				<p>このサイトは、ケーキ販売のECサイトになります。</p>
				<p>会員でない方も商品の閲覧はできますが、</p>
				<p>購入には会員登録が必要になります。</p>
			</div>
		</div>

<!-- もっと見るをAjaxにしたかった、、、 -->
		<h4>オススメ商品</h4>
		<div class="flex">
				<% @items.each do |item| %>
					<div>
						<table>
							<tr>
								<td>
									<%= link_to item_path(item) do %>
									<%= attachment_image_tag item, :image, size: "200x200", fallback: "no_image.jpg"  %>
									<% end %>
								</td>
							</tr>
							<tr>
								<td><%= item.name %></td>
							</tr>
							<tr>
								<td>¥<%= item.price %></td>
							</tr>
						</table>
					</div>
				<% end %>
		</div>
			<%= link_to_next_page @items, "もっと見る" %>

	</main>
</div>
</div>