<div class="container">
  <div class="row">
      <h2 class="title">新規会員登録</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row">
        <div class="col"><p>名前</p></div>
        <div class="col">
          <div class="field">
            <%= f.label :last_name, "(姓)" %>
            <%= f.text_field :last_name, autofocus: true, class: "last_name" %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= f.label :first_name, "(名)" %>
            <%= f.text_field :first_name, autofocus: true, class: "first_name" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>フリガナ</p>
        </div>
        <div class="col">
          <div class="field">
            <%= f.label :last_name_kana, "(セイ)" %>
            <%= f.text_field :last_name_kana, autofocus: true, class: "last_name_kana" %>
          </div>
        </div>
        <div class="col">
          <div class="field">
            <%= f.label :first_name_kana, "(メイ)" %>
            <%= f.text_field :first_name_kana, autofocus: true, class: "first_name_kana" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.label :email, "メールアドレス" %>
        </div>
        <div class="col">
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col">
          <div class="field">
            <%= f.label :postal_number, "郵便番号（ハイフンなし）" %>
          </div>
        </div>
        <div class="col">
          <%= f.text_field :postal_number, autofocus: true, autocomplete: "postal_number" %>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.label :address, "住所" %>
        </div>
        <div class="col">
          <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.label :phone_number, "電話番号（ハイフンなし）" %>
        </div>
        <div class="col">
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </div>
        <div class="col">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.label :password_confirmation, "パスワード(確認用)" %>
        </div>
        <div class="col">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <div class="col"></div>
      </div>

      <div class="row"></div>

      <div class="text-center">
        <%= f.submit "新規登録", class: "btn btn-primary"%>
      </div>
    <% end %>

      <div class="row">
        <div class="col-lg-12">
          <h4 class="login">既に登録済の方</h4>
          <div style="text-indent:3em;">
            <%= link_to "こちら", new_customer_session_path %>　からログインしてください。
          </div>
        </div>
      </div>
		</div>
	</div>
</div>