<div class="container">
	<div class="row">
		<h3>注文情報確認</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価（税込）</th>
					<th>数量</th>
					<th>小計</th>
				</tr>
			</thead>
			<tbody>
				<% @cart_items.each do |cart_item| %>
					<tr>
						<td><%= attachment_image_tag cart_item.item, :image, format: 'jpeg', size: "100x80", fallback: "no_image.jpg" %><%= cart_item.item.name %></td>
						<td><%= (cart_item.item.price * 1.1).to_i.to_s(:delimited)  %></td>
						<td><%= cart_item.count %></td>
						<td><%= ((cart_item.item.price * cart_item.count) * 1.1).to_i.to_s(:delimited) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table table-bordered">
			<tr class="thead-light">
				<th>送料</th>
				<td><%= 800.to_s(:delimited) %></td>
			</tr>
			<tr class="thead-light">
				<th>商品合計</th>
				<td><%= (@total_item_price * 1.1).to_i.to_s(:delimited) %></td>
			</tr>
			<tr class="thead-light">
				<th>請求金額</th>
				<td><%= session[:order]["payment"] %></td>
			</tr>

		</table>
    </div>
    <div class="row">
    	<div class="col">
		  <p><strong>支払い方法</strong></p>
		</div>
		<div class="col">
		   <p><%= "#{session[:order]["payment_methods"]}" %></p>
		</div>
	</div>
    <div class="row">
    	<div class="col">
		  <p><strong>お届け先</strong></p>
	    </div>
	    <div class="col">
	      <p><%= "#{session[:order]["postal_number"]} #{session[:order]["address"]} #{session[:order]["name"]}" %></p>
	    </div>
	</div>
	<div class="mx-auto" style="width: 200px;">
	  <%= link_to "確定する", finish_path , class: "btn btn-primary" %>
	</div>
</div>