<div class="container" style="margin-top:20px;">
<div class="row">

	<main class="col-lg-12" style="background-color: #fffafa">
		<div class="row">
			<h5>注文履歴一覧</h5>
		</div>
		
		<div class="row">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>注文日</th>
						<th>配送先</th>
						<th>注文商品</th>
						<th>支払金額</th>
						<th>ステータス</th>
						<th>注文詳細</th>
					</tr>
				</thead>
				<tbody>
					<% @orders.each do |order|%>
					<tr>
						<th><%= order.created_at.strftime("%Y-%m-%d") %></th>
						<th>
							<%= order.postal_number %><br>
							<%= order.address %><br>
							<%= order.name %>
						</th>
						<th>
							<% order.order_items.each do |order_item| %>	<!-- 中間テーブル経由-->
								<%= order_item.item.name %><br>
							<% end %>
						</th>	
						<th><%= order.payment %></th>
						<th><%= order.order_status %></th>
						<th>
							<%=  link_to("表示する", order_path(order.id)) %>
						</th>
					</tr>
					<% end %>

				</tbody>
			</table>
		</div>
		
	</main>

</div>		<!-- rowの閉じタグ -->
</div>		<!-- containerの閉じタグ -->
