<div class="container">
  <div class="row">
    <div class="col-lg-12">
			<h2 class="title">マイページ</h2>
  	</div>
	</div>
  <div class="row">
    <p><strong>登録情報</strong></p>
    <div class="mypg">
      <%= link_to "編集する", edit_customer_path, class: "btn btn-primary" %>
    </div>
    <div class="mypg">
			<%= link_to 'パスワードを変更する', edit_customer_registration_path, class: "btn btn-primary" %>
		</div>
      </tr>
    </table>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <tr class="thead-light">
        <th>氏名</th>
        <td>
        	<%= @customer.last_name %>
          <%= @customer.first_name %>
        </td>
      </tr>
      <tr class="thead-light">
        <th>カナ</th>
        <td>
         <%= @customer.last_name_kana %>
         <%= @customer.first_name_kana %>
        </td>
      </tr>
      <tr class="thead-light">
        <th>郵便番号</th>
        <td><%= @customer.postal_number %></td>
      </tr>
      <tr class="thead-light">
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr class="thead-light">
        <th>電話番号</th>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr class="thead-light">
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </table>
  </div>
	<div class="row">
    <table>
     	<tr>
 	      <th>発送先</th>
 	      <td><%= link_to "一覧を見る", shipping_addresses_path, class: "btn btn-primary" %></td>
 	    </tr>
 	    <tr>
     	  <th>注文履歴</th>
        <td><%= link_to '一覧を見る', orders_path, class: "btn btn-primary" %></td>
 	    </tr>
    </table>
  </div>
</div>