マイページだよ。リンクは飛べたり飛べなかったりするよ。ビジュアルも整えないとね。完成までもうちょっと待っててね。
<h2>マイページ</h2>
<table>
  <thead>
  	<tr>
  	  <td>登録情報</td>
  	  <td>
  	  	<%= link_to "編集する", edit_customer_path %>
  	  </td>
  	  <td><%= link_to 'パスワードを変更する' %></td>
  	</tr>
  </thead>
  <tbody>
  	<tr>
  	  <td>氏名</td>
  	  <td>
  	  	<%= @customer.last_name %>
        <%= @customer.first_name %>
  	  </td>
  	</tr>
  	<tr>
  	  <td>カナ</td>
  	  <td>
  	    <%= @customer.last_name_kana %>
        <%= @customer.first_name_kana %>
      </td>
  	</tr>
  	<tr>
  	  <td>郵便番号</td>
  	  <td><%= @customer.postal_number %></td>
  	</tr>
  	<tr>
  	  <td>住所</td>
  	  <td><%= @customer.address %></td>
  	</tr>
  	<tr>
  	  <td>電話番号</td>
  	  <td><%= @customer.phone_number %></td>
  	</tr>
  	<tr>
  	  <td>メールアドレス</td>
  	  <td><%= @customer.email %></td>
  	</tr>
  </tbody>
  <tfoot>
  	<tr>
  	  <td>発送先</td>
  	  <td><%= link_to "一覧を見る" %></td>
  	</tr>
  	<tr>
  	  <td>注文履歴</td>
  	  <td><%= link_to '一覧を見る' %></td>
  	</tr>
  </tfoot>
</table>