<!-- 修正項目 -->
<!-- エラーが出たときにフォームのレイアウトが崩れる -->

<!-- エラーメッセージ -->
<% if @customer.errors.any? %>
	<div>
		<div class="alert alert-danger">
			The form contents <%= pluralize(@customer.errors.count, "error") %>
		</div>
		<ul>
			<% @customer.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<h1><%= @customer.last_name + @customer.first_name %>の会員情報編集</h1>


<%= form_with model: [:admins,@customer], local: true do |f| %>
	<div class="form-group col-md-10 col-md-offset-1">

		<div class="control-label col-sm-2">会員ID: <%= @customer.id %></div>

		<%= f.label :氏名, class: "control-label col-sm-2"%>
		<%= f.text_field :last_name %>
		<%= f.text_field :first_name %></br>

		<%= f.label :フリガナ, class: "control-label col-sm-2" %>
		<%= f.text_field :last_name_kana %>
		<%= f.text_field :first_name_kana %></br>

		<%= f.label :郵便番号, class: "control-label col-sm-2" %>
		<%= f.text_field :postal_number %></br>

		<%= f.label :住所, class: "control-label col-sm-2" %>
		<%= f.text_field :address, class: "col-sm-9" %></br>

		<%= f.label :電話番号, class: "control-label col-sm-2" %>
		<%= f.text_field :phone_number, class: "col-sm-3" %></br>

		<%= f.label :メールアドレス, class: "control-label col-sm-2" %>
		<%= f.text_field :email, class: "col-sm-3" %></br>

		<%= f.label :会員ステータス, class: "control-label col-sm-2"%>

		<%= f.radio_button :is_delete, :true %>
		<%= f.label :is_delete, "有効", style: "display: inline-block" %>

		<%= f.radio_button :is_delete, :false %>
		<%= f.label :is_delete, "退会済み", style: "display: inline-block"  %></br>

		<%= f.submit "変更を保存する", class: "btn btn-primary col-sm-2" %>
	</div>
<% end %>