<!-- 修正項目 -->


<!-- サクセスメッセージ -->
<%= flash[:success] %>


<h1><%= @customer.last_name+@customer.first_name %>さんの会員詳細</h1>

顧客ID : <%= @customer.id %> <%= @customer.is_delete ? '有効会員' : '退会済み会員' %></br>

氏名 : <%= @customer.last_name + " " +@customer.first_name %></br>

フリガナ : <%= @customer.last_name + " " +@customer.first_name %></br>

郵便番号 : <%= @customer.postal_number %></br>

住所 : <%= @customer.address %></br>

電話番号 : <%=@customer.phone_number %></br>

メールアドレス : <%= @customer.email %></br>

<%= link_to "編集する", edit_admins_customer_path, class: "btn btn-primary" %>

<%= link_to "注文履歴一覧を見る", "#", class: "btn btn-primary" %>