<!--⭐︎訂正項目⭐︎-->
<!--画像表示-->
<!--レイアウト-->


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>商品編集</h3>
      <!--⭐商品新規登録⭐︎-->
      <%= form_for(@item, url:admins_item_path(@item.id)) do |f| %>
        <!--エラー文-->
        <% if @item.errors.any? %>
          <div class="alert alert-warning">
            <ul>
              <% @item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <!--画像-->
        <%= attachment_image_tag @item, :image, :fill, 60, 60 %>
        <%= f.attachment_field :image, placeholder: "プロフィール画像", class: "user-edit-form" %><br>
        <!--商品名-->
        <%= f.label :name, "商品名" %>
        <%= f.text_field :name %><br>
        <!--説明-->
        <%= f.label :description, "商品説明" %>
        <%= f.text_area :description %><br>
        <!--ジャンル-->
        <%= f.label :item_genre_id, "ジャンル" %>
        <%= f.select :item_genre_id, ItemGenre.all.map{|o| [o.name, o.id]} %><br>
        <!--税抜価格-->
        <%= f.label :price, "税抜価格" %>
        <%= f.text_field :price %><br>
        <!--販売ステータス-->
        <%= f.label :is_active, "販売ステータス" %>
        <%= f.select :is_active, [['販売中', 'true'], ['販売停止中', 'false']] %><br>
        <!--追加ボタン-->
        <%= f.submit "変更を保存", class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>