<!--==========⭐商品詳細⭐==========-->
<div class="container">
  <h3 class="col-lg-4 text-center">商品詳細</h3><br><br><br><br>

  <div class="row">

    <!--画像-->
    <div class="col-lg-4 text-center">
      <%= attachment_image_tag @item, :image, format: 'jpeg', size: "300x200", fallback: "no_image.jpg" %>
    </div>
    <br>

    <div class="col-lg-8">

      <!--商品名-->
      商品名　　　<%= @item.name %><br><br>

      <!--商品説明-->
      商品説明　　<%= @item.description %><br><br>

      <!--ジャンル-->
      ジャンル　　<%= @item.item_genre.name %><br><br>

      <!--価格-->
      税込価格（税抜価格）　　<%= @item.price %>（<%= @tax.to_i %>） 円<br><br>

      <!--ステータス-->
      販売ステータス　　<%= @item.is_active ? "販売中" : "販売停止中" %><br><br>

      <!--編集リンク-->
      <div class="text-right">
        <%= link_to '編集する', edit_admins_item_path, class: "btn btn-primary" %>
      </div>

    </div>
  </div>
</div>