<!--
⭐︎訂正項目⭐︎
・同じものを別々にカートに入れた時、一緒の表示にさせたい（今はわかれちゃう）
（ショートケーキ1個、ショートケーキ2個→ショートケーキ3個のようにしたい）
-->

<div class="container" style="margin-top:20px;">
<div class="row">

	<nav class="col-lg-2" style="background-color: #f0f8ff;">
		<%= render 'customers/items/genres', genres: @genres %>		<!-- 商品表示をパーシャル化　-->
	</nav>


	<main class="col-lg-10" style="background-color: #fffafa">
		<div class="row">
			<div class="col">
				<%= attachment_image_tag @item, :image, format: 'jpeg', size: "width:100%", fallback: "no_image.jpg" %>
				<!-- widthって使える？ -->
			</div>
			<div class="col">
				<p><%= @item.name %></p>
				<p><%= @item.description %></p>
				<p>¥<%= @item.price %>（税込）</p>

				<% if flash[:danger] %>
					<div class="alert alert-danger col-lg-6">
						<p><%= flash[:danger] %></p>
					</div>
				<% end %>
				<div class="btn-group">
					<%= form_for(@cart_item) do |f| %>
						<%= f.select :count, options_for_select((1..10).to_a) , include_blank: "個数選択", selected: 1 %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.submit "カートに入れる", class: "btn btn-primary"%>
					<% end %>
				</div>
			</div>
		</div>
	</main>

</div>		<!-- rowの閉じタグ -->
</div>		<!-- containerの閉じタグ -->

