<div class="container" style="margin-top:20px;">
<div class="row">

	<nav class="col-lg-2" style="background-color: #f0f8ff;">
		<%= render 'customers/items/genres', genres: @genres %>		<!-- 商品表示をパーシャル化　-->
	</nav>


	<main class="col-lg-10" style="background-color: #fffafa">
		<div class="row">
			<div class="col">
				<%= attachment_image_tag item, :image, format: 'jpeg', size: "width:100%", fallback: "no_image.jpg" %>
				<!-- widthって使える？ -->
			</div>
			<div class="col">
				<p><%= @item.name %></p>
				<p><%= @item.description %></p>
				<p>¥<%= @item.price %>（税込）</p>

				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					個数選択
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>1</li>
						<li>1</li>
						<li>1</li>
					</ul>
				</div>

				<div class="btn btn-primary">カートに入れる</div>
			</div>
		</div>
	</main>

</div>		<!-- rowの閉じタグ -->
</div>		<!-- containerの閉じタグ -->

