<h1>注文履歴詳細</h1>
購入者: <%= link_to @order.customer.last_name + @order.customer.first_name %><br>
配送先: 〒<%= @order.postal_number + @order.address + @order.name %><br>

支払い方法: <%= @order.payment_methods %><br>

注文ステータス: <%= form_with model: @order, local: true, url: order_admins_order_path do |f| %>
				<%= f.select :order_status, Order.order_statuses.keys.to_a %>
				<%= f.submit '更新' %>
			 <% end %><br>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価（税込）</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
		</tr>
	</thead>
	<tbody>
		<% @order_item.each do |order| %>
			<tr>
				<td><%= order.item.name %></td>
				<td><%= order.item.price.to_s(:delimited) %></td>
				<td><%= order.count %></td>
				<td><%= (order.item.price * order.count).to_s(:delimites) %></td>
				<td>
					<%= form_with model: @order_item, local: true, url: %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
