<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  </head>

  <body>

    <!--ヘッダーの記述-->
    <header class="navbar navbar-fixed-top navbar-inverse" style="background:#E95464;">
      <div class="container-fluid">

<!--===================⭐︎customer⭐︎===================-->
        <% if customer_signed_in? %>
          <%= render 'shared/customer-header' %>
<!--===================⭐︎admin⭐︎===================-->
        <% elsif admin_signed_in? %>
          <%= render 'shared/admin-header' %>
          <!-- loginしていない時 -->
        <% else %>
          <%= render 'shared/nologin-header' %>
        <% end %>
      </div>
    </header>

      <%= yield %>

  </body>
</html>
